{# src/PB/BookingBundle/Resources/views/Booking/booking.html.twig #}

{% extends "PBBookingBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block pbbooking_body %}

	<h2>Réservation</h2>

	{% for message in app.session.flashbag.get('notice') %}
		<p>{{ message }}</p>
	{% endfor %}

	<i>Demande de réservation par {{ booking.user.username }}</i>

	<table class="table">
		<tr><th>Arrivée</th><td>{{ booking.start|date('d/m/Y') }}</td></tr>
		<tr><th>Départ</th><td>{{ booking.end|date('d/m/Y') }}</td></tr>
		<tr><th>Convives</th><td>{{ booking.nbHosts }}</td></tr>
		<tr><th>Description</th><td>{{ booking.content }}</td></tr>
		<tr>
			<th>Statut</th>
			{% if booking.accepted is null %}
				<td>En attente</td>
			{% elseif booking.accepted %}
				<td class="success">Acceptée</td>
			{% else %}
				<td class="danger">Refusée</td>
			{% endif %}
		</tr>
	</table>

	<p>
		<a href="{{ path('pb_booking_home') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à la liste
		</a>
		<a href="{{ path('pb_booking_edit', {'id': booking.id}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-edit"></i>
			Modifier la réservation
			</a>
		<a href="{{ path('pb_booking_cancel', {'id': booking.id}) }}" class="btn btn-danger">
			<i class="glyphicon glyphicon-trash"></i>
			Annuler la réservation
		</a>
	</p>

	{% if is_granted('ROLE_ADMIN') %}
		<br />
		<div class="panel panel-primary">
			<div class="panel-heading">Administration</div>
			<div class="panel-body">
				<a href="{{ path('pb_booking_validate', {'id' : booking.id}) }}" class="btn btn-success">
					<i class="glyphicon glyphicon-ok"></i>
					Valider la réservation
				</a>
				<a href="{{ path('pb_booking_refuse', {'id' : booking.id}) }}" class="btn btn-danger">
					<i class="glyphicon glyphicon-remove"></i>
					Refuser la réservation
				</a>
			</div>
		</div>
	{% endif %}


{% endblock %}