{# src/PB/BookingBundle/Resources/views/Booking/index.html.twig #}

{% extends "PBBookingBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block pbbooking_body %}

	<h2>Toutes les réservations</h2>

	{% for message in app.session.flashbag.get('notice') %}
		<p>{{ message }}</p>
	{% endfor %}

	<table class="table table-hover">
		<tr><th>Arrivée</th><th>Départ</th><th>Convives</th><th>Etat</th><th>Action</th></tr>
		{% for booking in listBookings %}
			<tr>
				<td>{{ booking.start|date('d/m/Y') }}</td>
				<td>{{ booking.end|date('d/m/Y') }}</td>
				<td>{{ booking.nbHosts }}</td>
				{% if booking.accepted is null %}
					<td>En attente</td>
				{% elseif booking.accepted %}
					<td class="success">Acceptée</td>
				{% else %}
					<td class="danger">Refusée</td>
				{% endif %}
				<td><a href="booking/{{ booking.id }}">Détails</a></td>
			</tr>
		{% endfor %}
	</table>
	

{% endblock %}